{{> organisms-header }}

<main>

    {{#> layouts-macro-layout styleModifier="l--one-column t--light" }}

        {{> organisms-grid styleModifier="three-column" }}

    {{/ layouts-macro-layout}}

</main>

{{> organisms-footer }}