<a href="{{ url }}" class="molecule m--card--bio {{ styleModifier }}">

	<div class="m--card--header">
        {{#if cardImage }}
		<div class="m--card--media">
			{{> atoms-card-image src=cardImage }}
		</div>
		{{/ if }}
	</div>

	<div class="m--card--body">
		<h4 class="m--card--title type-title-medium">{{ name }}</h4>
		{{#if position}}<p class="m--card--excerpt">{{ position }}</p>{{/ if }}
	</div><!-- end m--card--body -->

	<div class="m--card--footer">
        {{#if cta }}
			{{> molecules-button buttonText=cta }}
        {{/ if }}
	</div>
</a><!-- end c-card -->