{{> organisms-header }}

<main>

    {{#> layouts-macro-container styleModifier="l--one-column" }}

        {{> organisms-grid }}

    {{/ layouts-macro-container}}

    {{#> layouts-macro-container styleModifier="l--two-column" }}

        {{> organisms-grid }}

    {{/ layouts-macro-container}}    

</main>

{{> organisms-footer }}