<section class="l-one-column">
    <div class="c-masthead">
        <h2 class="c-masthead__title">{{ title }}</h2>
        <p class="c-masthead__description">{{ description }}</p>
        <div class="c-masthead__body">
            {{> molecules-card cardImg=logoImg }}
        </div>
    </div>
</section>